Para quem tiver curiosidade de saber como gerar uma sub igual à gender_submission, esse é o código.

In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("test.csv")

In [13]:
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
e_feminino = (data['Sex'] == 'female').astype(int)
e_feminino.head()

0    0
1    1
2    0
3    0
4    1
Name: Sex, dtype: int64

In [15]:
e_feminino.index = data['PassengerId']
e_feminino.head()

PassengerId
892    0
893    1
894    0
895    0
896    1
Name: Sex, dtype: int64

In [16]:
e_feminino.name = 'Survived'
e_feminino.head()

PassengerId
892    0
893    1
894    0
895    0
896    1
Name: Survived, dtype: int64

In [17]:
e_feminino.to_csv('gender_submission.csv', header=True)

In [18]:
!head -n10 gender_submission.csv

PassengerId,Survived
892,0
893,1
894,0
895,0
896,1
897,0
898,1
899,0
900,1